<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <style>
    body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      padding: 0;
    }

    form {
      border: 1px solid black;
      border-radius: .3rem;
      padding: 1rem;

      display: flex;
      flex-direction: column;
    }

    h3 {
      color: red;
    }

    input {
      margin: 10px 0;
    }
  </style>
</head>

<body>
  <form method="post" action="{{ url_for('login') }}">

    {% if error %}
      <h3> {{ error }} </h3>
    {% endif %}

    <label for="username"> Username: </label>
    <input type="text" name="username" id="username" required>

    <label for="password"> Password:</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="Login">
  </form>
</body>

</html>